body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.rock,
.paper,
.scissors {
    padding: 4px 20px;
    text-transform: uppercase;
    background-color: rgb(66, 32, 99);
    border-radius: 8px;
    box-shadow: 0 0 15px;
}

.rock:hover,
.paper:hover,
.scissors:hover {
    transition: 0.3s ease;
    color: rgba(255, 255, 255, 0.815);
    scale: 1.1;
}

body {
    background: url(./images/main.gif);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.all,
.allTwo {
    background-color: rgb(78, 34, 76);
    height: 450px;
    width: 700px;
    opacity: .9;
    box-shadow: 0 0 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.top {
    display: flex;
    justify-content: space-evenly;
}

.center {
    display: flex;
    justify-content: center;
}

.bottom {
    display: flex;
    justify-content: space-evenly;
}

.center {
    padding-bottom: 20px;
}

.hidden {
    display: none;
}

#play {
    height: 80px;
    width: 280px;
    margin-left: 210px;
    margin-top: 60px;
}

img {
    width: 150px;
    margin-left: 20px;
}

.textTwo {
    text-align: center;
    padding-top: 50px;
    letter-spacing: .20em;
    text-transform: uppercase;
}